:root {
    --text-color: #333;
    --dark-green: #A9BA69;
    --money-color: #CA8D72;
    --button-color: #DDC3AF;
    --white-color:#ffff;
    --black-color:#0000;
}
*{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 100%;
    line-height: 2rem;
    scroll-behavior: smooth;
    
}
body{
    margin: 0;
}
.grid{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}
.nd_nav{
    display: flex;
    justify-content: center;
}
